# Shared
EUREKA_DEFAULT_ZONE=http://localhost:8761/eureka

# Ports
EUREKA_SERVER_PORT=8761
API_GATEWAY_PORT=9000
AUTH_SERVICE_PORT=9011
PRODUCT_SERVICE_PORT=9002
WAREHOUSE_SERVICE_PORT=9003
INBOUND_SERVICE_PORT=9004
OUTBOUND_SERVICE_PORT=9005

# Gateway / Auth
GATEWAY_SECURITY_ENABLED=true
FRONTEND_ORIGIN=http://localhost:3000
INTERNAL_SECURITY_ENABLED=true
INTERNAL_SERVICE_TOKEN=change-me-internal-service-token
AUTH_MODE=secure
AUTH_JWT_SECRET=change-me-to-a-very-long-secret-key-at-least-32-bytes
AUTH_JWT_ISSUER=auth-service
AUTH_JWT_ACCESS_EXPIRATION_SECONDS=3600
AUTH_COOKIE_SECURE=false
AUTH_COOKIE_SAME_SITE=Lax
AUTH_BOOTSTRAP_DEFAULT_USERS_ENABLED=false

# Auth DB
AUTH_DB_URL=jdbc:postgresql://localhost:5432/auth_db
AUTH_DB_USERNAME=postgres
AUTH_DB_PASSWORD=postgres

# Product DB
PRODUCT_DB_URL=jdbc:postgresql://localhost:5432/db_product
PRODUCT_DB_USERNAME=postgres
PRODUCT_DB_PASSWORD=postgres

# Warehouse DB
WAREHOUSE_DB_URL=jdbc:postgresql://localhost:5432/db_warehouse
WAREHOUSE_DB_USERNAME=postgres
WAREHOUSE_DB_PASSWORD=postgres

# Inbound DB
INBOUND_DB_URL=jdbc:postgresql://localhost:5432/db_inbound
INBOUND_DB_USERNAME=postgres
INBOUND_DB_PASSWORD=postgres

# Outbound DB
OUTBOUND_DB_URL=jdbc:postgresql://localhost:5432/db_outbound
OUTBOUND_DB_USERNAME=postgres
OUTBOUND_DB_PASSWORD=postgres
